<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registrar</h1>
    <form method="post" action="{{ url_for('registro') }}">
        <label>Usuário <input name="username" required></label>
        <label>Email <input name="email" type="email" required></label>
        <label>Senha <input name="password" type="password" required></label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Criar conta</button>
    </form>

</body>

</html>
